/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: #efefef;
  color: black;
  /* min-height: 100vh; */
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
    color: black;
  }
}


.logo {
  height: 180px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.mybutton {
  background-color: white !important;
  border-block-color: white !important;
  border: white !important;
  color: black !important;
}
